bpel2owfn/tests/testfiles/loan.wsdl

<!--
This example process was taken from the Business Process Execution Language for
Web Services Version 1.1 Specification available under the following URLs

   * http://dev2dev.bea.com/technologies/webservices/BPEL4WS.jsp

   * http://www-106.ibm.com/developerworks/webservices/library/ws-bpel

   * http://msdn.microsoft.com/library/default.asp?url=/library/en-us/dnbiz2k2/html/bpel1-1.asp

   * http://ifr.sap.com/bpel4ws/

   * http://www.siebel.com/bpel

BEA, IBM, Microsoft, SAP AG and Siebel Systems (collectively, the "Authors")
agree to grant you a royalty-free license, under reasonable, non-discriminatory
terms and conditions, to patents that they deem necessary to implement the
Business Process Execution Language for Web Services Specification.

THE Business Process Execution Language for Web Services SPECIFICATION IS
PROVIDED "AS IS," AND THE AUTHORS MAKE NO REPRESENTATIONS OR WARRANTIES,
EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE;
THAT THE CONTENTS OF THE BPEL4WS SPECIFICATION ARE SUITABLE FOR ANY PURPOSE;
NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY
PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.

THE AUTHORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF
THE BPEL4WS SPECIFICATION.
-->

<definitions
    targetNamespace="http://loans.org/wsdl/loan-approval"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    xmlns:lns="http://loans.org/wsdl/loan-approval">
    
    <message name="creditInformationMessage">
	<part name="firstName" type="xsd:string"/>
	<part name="name" type="xsd:string"/>
	<part name="amount" type="xsd:integer"/>
    </message>
    
    <message name="approvalMessage">
	<part name="accept" type="xsd:string"/>
    </message>
    
    <message name="riskAssessmentMessage">
	<part name="level" type="xsd:string"/>
    </message>
    
    <message name="errorMessage">
	<part name="errorCode" type="xsd:integer"/>
    </message>
    
    <portType name="loanServicePT">
	<operation name="request">
	    <input message="lns:creditInformationMessage"/>
	    <output message="lns:approvalMessage"/>
	    <fault name="unableToHandleRequest"
		message="lns:errorMessage"/>
	</operation>
    </portType>
    
    <portType name="riskAssessmentPT">
	<operation name="check">
	    <input message="lns:creditInformationMessage"/>
	    <output message="lns:riskAssessmentMessage"/>
	    <fault name="loanProcessFault"
		message="lns:errorMessage"/>
	</operation>
    </portType>
    
    <portType name="loanApprovalPT">
	<operation name="approve">
	    <input message="lns:creditInformationMessage"/>
	    <output message="lns:approvalMessage"/>
	    <fault name="loanProcessFault"
		message="lns:errorMessage"/>
	</operation>
    </portType>

    <plnk:partnerLinkType name="loanPartnerLinkType">
	<plnk:role name="loanService">
	    <plnk:portType name="lns:loanServicePT"/>
	</plnk:role>
    </plnk:partnerLinkType>

    <plnk:partnerLinkType name="loanApprovalLinkType">
	<plnk:role name="approver">
	    <plnk:portType name="lns:loanApprovalPT"/>
	</plnk:role>
    </plnk:partnerLinkType>
    
    <plnk:partnerLinkType name="riskAssessmentLinkType">
	<plnk:role name="assessor">
	    <plnk:portType name="lns:riskAssessmentPT"/>
	</plnk:role>
    </plnk:partnerLinkType>

</definitions>
