bpel2owfn/tests/testfiles/shippingPT.wsdl

<!--
This example process was taken from the Web Services Business Process Execution
Language Version 2.0 Committee Draft, 25 January, 2007, available under

   * http://docs.oasis-open.org/wsbpel/2.0/

Copyright (C) OASIS Open 2003, 2006. All Rights Reserved.

This document and translations of it may be copied and furnished to others, and
derivative works that comment on or otherwise explain it or assist in its
implementation may be prepared, copied, published and distributed, in whole or
in part, without restriction of any kind, provided that the above copyright
notice and this paragraph are included on all such copies and derivative works.
However, this document itself may not be modified in any way, such as by
removing the copyright notice or references to OASIS, except as needed for the
purpose of developing OASIS specifications, in which case the procedures for
copyrights defined in the OASIS Intellectual Property Rights document must be
followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by
OASIS or its successors or assigns.

This document and the information contained herein is provided on an "AS IS"
basis and OASIS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT
INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
A PARTICULAR PURPOSE.
-->

<wsdl:definitions
    targetNamespace="http://example.com/shipping/interfaces/"
    xmlns:ship="http://example.com/shipping/ship.xsd"
    xmlns:tns="http://example.com/shipping/interfaces/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
	<xsd:schema>
	    <!-- import ship schema -->
    	</xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="shippingRequestMsg">
	<wsdl:part name="shipOrder" type="ship:shipOrder" />
    </wsdl:message>
    
    <wsdl:message name="shippingNoticeMsg">
	<wsdl:part name="shipNotice" type="ship:shipNotice" />
    </wsdl:message>
    
    <wsdl:portType name="shippingServicePT">
	<wsdl:operation name="shippingRequest">
	    <wsdl:input message="tns:shippingRequestMsg" />
	</wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="shippingServiceCustomerPT">
	<wsdl:operation name="shippingNotice">
	    <wsdl:input message="tns:shippingNoticeMsg" />
	</wsdl:operation>
    </wsdl:portType>

</wsdl:definitions>
